.navbar {
    .navbar &__item {
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.47;
        color: var(--text-color);
    }

    &__icon {
        width: 40px;
        height: 40px;
        object-fit: cover;
    }

    .navbar &__link {
        transition: font-weight 0.2s ease;
    }

    .navbar &__link:hover {
        font-weight: bolder;
    }
}

.dropdown {
    .dropdown &-item__custom {
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
    }

    .dropdown &-menu__custom {
        border-radius: 20px;
        border: none;
        box-shadow: 0px 40px 90px 20px var(--navbar-shadow);
        background-color: var(--navbar-background);
        width: 220px;
    }
}
