.header {
    background: var(--header-background);

    &__main {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__img {
        width: 30px;
    }

    .header &__btn {
        font-size: 1.6rem;
    }

    .header &__btn {
        font-size: 1.6rem;
    }

    .header &__input {
        font-size: 1.6rem;
    }

    .header &__link {
        color: var(--text-color);
    }
}
