.home {
    &__card {
        border-radius: 20px;
        background-color: var(--home-card-background);
        padding: 16px;
        box-shadow: 0px 20px 60px 10px var(--home-card-box-shadow);
    }

    &__img {
        width: 280px;
        height: 284px;
        object-fit: cover;
    }

    &__title {
        margin-top: 16px;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
    }

    &__desc {
        margin-top: 16px;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.67;
    }

    &__resource {
        margin-top: 16px;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.67;
        color: var(--home-text-resource-color);
    }

    &__group {
        margin-top: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__price {
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
    }

    .home &__btn {
        font-size: 1.6rem;
    }
}
