html.light {
    --body-background: #f6f6f6;
    --text-color: #1a162e;

    --header-background: rgba(238, 238, 238, 0.7);

    // navbar
    --navbar-background: #fff;
    --navbar-shadow: rgba(200, 200, 200, 0.4);

    .icon {
        filter: brightness(0) saturate(100%) invert(4%) sepia(63%)
            saturate(2263%) hue-rotate(235deg) brightness(98%) contrast(90%);
    }

    .icon-other {
        filter: brightness(0) saturate(100%) invert(98%) sepia(55%)
            saturate(2566%) hue-rotate(182deg) brightness(116%) contrast(96%);
    }

    --category-card-background: #eee;
    --category-img-background: #fff;

    --home-card-background: #fff;
    --home-card-box-shadow: rgba(237, 237, 246, 0.2);

    --home-text-resource-color: #9e9da8;

    --footer-background: rgba(238, 238, 238, 1);

    --footer-hr-color: #000;
}
