.customer {
    color: var(--customer-text);
    margin-top: 80px;
    margin-bottom: 20px;

    &__photo {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 10px;
    }
}

body:has(.customer) {
    background-color: var(--customer-background) !important;
}

.bank {
    padding: 30px;
    background-color: var(--customer-info);
    border-radius: 20px;

    &__header {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    &__heading {
        font-size: 2.2rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.45;
    }

    &__form {
        margin-top: 30px;
    }

    &__label {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.44;
    }

    &__input,
    &__select {
        border-radius: 10px;
        padding: 12px;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.44;
        border: 1px solid var(--title-card-text);
    }

    &__select {
        option {
            color: inherit;
            background-color: var(--customer-info);
        }
    }

    &__group {
        margin-top: 70px;
        display: flex;
        justify-content: end;
        gap: 10px;
    }

    &__cancel,
    &__btn {
        padding: 10px 20px;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
    }

    &__btn {
        border-radius: 30px;
        background-color: #ffb700;
        color: #1a162e;
    }

    .bank__input--none {
        pointer-events: none;
    }
}
