.introduce {
    position: relative;

    &__background {
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
        inset: 0;
        z-index: -1;
    }

    &__main {
        padding-top: 80px;
        padding-bottom: 20px;
    }

    &__content {
        background: var(--header-background);
        border-radius: 20px;
        padding: 60px;
    }

    &__group {
        margin-top: 20px;
    }

    &__desc {
        margin-top: 10px;
    }

    &__bolder {
        font-weight: 700;
    }

    &__italic {
        font-style: italic;
    }
}
