html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: normal;
    color: var(--text-color);
}

.heading-lv-1 {
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.43;
}

.heading-lv-2 {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.42;
}
